/* Styles for tablets and below */
@media (max-width: 750px) {
:root .footer-mainn{
    width: 26rem;
    margin-left: 0;
}

 .footer-mainn .footer-main{
    margin-left: -40rem;
 }
 

 .footer-head{
    width: 24rem;
    margin-top: -1rem;
    margin-left: 38rem;
    font-size: 13px;
 }

.footer-p{
    margin-left: 39rem;
}

.footer-icons{
    margin-left: 1rem;
}






 }
 