/* Styles for tablets and below */
@media (max-width: 750px) {
   :root .navbar {
    width: 26.5rem;
  }

  .navbar .heading-main {
    margin-left: 0rem;
    font-size: 20px;
  }

  .navbar .main-gap {
    font-size: 10px;
    width: 66rem;
    gap: 9px;
    justify-content: center;
    align-items: center;
    margin-left: -53rem;
  }
  .small-pop {
    margin-right: 1rem;
    width: 18rem;
  }

  .photo-main {
    margin-left: -2rem;
  }

  .login-btn {
    height: 2rem;
    margin-left: -1.5rem;
    width: 3rem;
  }
  .signup-btn {
    height: 2rem;
    width: 3.5rem;
  }
}