/* Styles for tablets and below */
@media (max-width: 750px) {
 
:root .filter-container{
    margin-top: 8rem;
    margin-left: 4rem;
    width: 22rem;
}

.job-fl{
    margin-top: 4rem;
        position: relative;
}


:root .flexbox-main{
    display: flex;
            margin-top: 0rem;
            margin-left: -1rem;
            flex-direction: column;
}


.flexbox-main .flex-main2{
    display: block;
    width: 351px;
}















}
             