/* Styles for tablets and below */
@media (max-width: 750px) {
 
    :root .profile-main{
        margin-top: 4rem;
        margin-left: 1rem;
        width: 24rem;
    }
 .profile-img{
    margin-top: -1rem;

 }   

:root .profile-skills{
    display: flex;
    gap: 8px;
    flex-direction: row;
    flex-wrap: wrap;
}

:root .profile-btn{
    margin-left: 11rem;
    border-radius: 50px;
    background-color: aqua;
    color: black;
} 

:root .applied-job-head{
    margin-left: -31rem;
}

.applied-job-head .applied-jobh1{
    margin-left: 35rem;
}

.pno{
    width: 20rem;
}

.profile-head{
    margin-top: -1rem;
    width: 11rem;
}

.p-head{
    margin-top: 5px;
    width: 13rem;
    margin-left: 0rem;
    font-size: 13px;
}

:root .resume-label{
    margin-left: -8rem;
}
 }
 