/* Styles for tablets and below */
@media (max-width: 750px) {

    
    :root .admin-tb-cap{
        width: 18rem;
        margin-top: 0rem;
        margin-left: 1rem;
    }

    :root .admin-main{
        margin-left: -1rem;
        display: block;
        width: 22rem;
        font-size: 8px;
      }
    :root .edit-pops{
        margin-left: -4rem;
    }
.ajt{
    margin-left: 4rem;
}

}
     