/* Styles for tablets and below */
@media (max-width: 750px) {
  :root .comp-job-create {
    margin-top: 7rem;
    margin-left: 0rem;
  }

  .comp-job-create .btn {
    font-size: 11px;
    width: 6rem;
    margin-top: 0rem;
    margin-left: 0rem;
  }

  .comp-job-create .compp {
    gap: 2rem;
    margin-left: 2rem;
  }
}
