/* Styles for tablets and below */
@media (max-width: 750px) {
    
  

    :root .setup-main{
        margin-top: 0rem;
        width: 22rem;
        margin-left: 2rem;
    }
     .btn-bck{
        margin-top: rem;
        margin-left: -10rem;
     }
    
     .setup-main .up-com{
        margin-left: -3rem;
    }
    
    
    
}