/* Styles for tablets and below */
@media (max-width: 750px) {
    
    :root .com-main{
        width: 22rem;
        margin-top: 20rem;
        margin-left: 3rem;
    }
  
    .com-main .btn{
        font-size: 11px;
        width: 6rem;
        margin-top: 0rem;
        margin-left: 0rem;
    }




}
     