/* Styles for tablets and below */
@media (max-width: 750px) {
    
  

:root .admin-create{
    margin-top: -5rem;
    margin-left: 3rem;
    width: 19rem;
}
.admin-create input{
   width: 19rem;
}








}
     