/* Styles for tablets and below */
@media (max-width: 768px) {
    
  

    .login-main .login-form{
        margin-left: -42rem;
        width: 22rem;
}

.login-form .submit-signup{
    margin-left: 15rem;
}






















}
     